<h1 align="center">PROFORMA PARA CALCULO DE PRECIOS DE UN ASILO </h1>

<div class="container-fluid">


     <div class="row">
          <div class="col-sm-6">
               <article>
                    <h1>UBICACION </h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <ng-container  ></ng-container>
                    
                    <select (change)="selectChangeHandler($event)" [(ngModel)]="selectedDay">
                         <option disabled selected value="#">Seleccionee..</option>
                         <option *ngFor="let ubi of ubicaciones; let i = index;" [value]="i">{{ ubi.ubi }}</option>
                         <!-- <option value="25">SUR</option>
                         <option value="100">VALLE</option>
                         <option value="75">CENTRO</option> -->
                    </select>

               </article>
          </div>
          <div class="col-sm-6">

               <form>
                    <h1>TIpo de Habitacion</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    
                    <ng-container *ngFor="let tipo of tipoHabitacion; let i = index;">
                         <input type="radio" [id]="tipo.tipo" [name]="tipo.tipo" [value]="i" (change)="inputTipoHabitacion()"  [(ngModel)]="habitacion">
                         <label [for]="tipo.tipo">{{ tipo.tipo }}</label><br>

                    </ng-container>
               </form>
          </div>       
     </div>
     <div class="row">
          <div class="col-sm-6">
               <article>
                    <h1>AMOBLADO</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <select (change)="selectChangeHandle($event)"  [(ngModel)]="selectedDa">
                         <option disabled selected value="#">Seleccione.. </option>
                         <option *ngFor="let amob of amoblado; let i = index;" [value]="i">{{ amob.amoblado }}</option>
                         <!-- <option value="0">No </option> -->

                    </select>
              
               </article>
          </div>
          <div class="col-sm-6">

               <form>
                    <h1>Cuidado Fisico</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <ng-container *ngFor="let tipo of cuidadoFisico; let i = index;">
                         <input type="radio" [id]="tipo.tipo" [name]="tipo.tipo" [value]="i" (change)="cuidadoFisicofunction()"  [(ngModel)]="fisico">
                         <label [for]="tipo.tipo">{{ tipo.tipo }}</label><br>
                    </ng-container>
                   
               </form>
          </div>
     </div>
     <div class="row">
          <div class="col-sm-6">
               <form>
                    <h1>Servicios Médicos</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <ng-container *ngFor="let s of serviciosMedicos; let i =index;">

                         <input  type="checkbox" [id]="s.serd" name="fav_language" [value]="i" (change)="serviciosmedicos($event)" >
                         <label [for]="s.serd">{{s.serd}}</label><br>
                    </ng-container>
               </form>
          </div>
          <div class="col-sm-6">
               <form>
                    <h1>Cuidado Cognitivo</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <ng-container *ngFor="let cuidado of cuidadoCog; let i = index;">

                         <input type="radio" [id]="cuidado.cuidado" name="cognitivo" [value]="i" (change)="cambioCognitivo()" [(ngModel)]="cognitivo">
                         <label [for]="cuidado.cuidado">{{ cuidado.cuidado }}</label><br>
                    </ng-container>
                    
                    <!-- <input type="radio" id="css" name="fav_language" value="Deterioro Mental Moderado" [(ngModel)]="cognitivo">
                    <label for="css">Deterioro Mental Moderado</label><br>
                    <input type="radio" id="javascript" name="fav_language" value="Demencia Severa" [(ngModel)]="cognitivo">
                    <label for="javascript">Demencia Severa</label> -->
               </form>

          </div>
     </div>
     <div class="row">
          <div class="col-sm-6">
               <form>
                    <h1>Servicios Adicionales</h1>
                    <h2><span>Seleccione la opcion:</span></h2>

                    <ng-container *ngFor="let s of serviciosAdicionales; let i =index;">

                         <input  type="checkbox" [id]="s.serd" name="serviciosAdicionales" [value]="i" (change)="serviciosadicionales($event)" >
                         <label [for]="s.serd">{{s.serd}}</label><br>
                    </ng-container>
               </form>
          </div>


          <div class="col-sm-6">
               <article>
                    <h1>¿Cuántos Hijos/Responsables tiene la persona Mayor?</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <select (change)="selectChangeHandlr($event)" [(ngModel)]="selectedDays">
                         <option value=" 1 ">1 </option>
                         <option value=" 2 ">2 </option>
                         <option value=" 3 ">3 </option>
                         <option value=" 4 ">4 </option>
                         <option value=" 5 ">5 </option>
                         <option value=" 6 ">6 </option>
                         <option value=" 7 ">7 </option>
                         <option value=" 8 ">8 </option>
                         <option value=" 9 ">9 </option>
                         <option value=" 10 ">10 </option>
                    </select>
              
               </article>
          </div>
     </div>
</div>
<br>

<h2 align="center"><span>¡Felicitaciones! Ya tienes una cotización estimada del Asilo</span></h2>


<br>

<div>
     <h3>Detalles del valor</h3>
     <div class="row">
          <div class="col">
               <h5>Tipo Habitacion</h5>
          </div>
          <div class="col">
               <b>$ {{tipoHabitacionObj.value}}</b>
          </div>
          <div class="container">
               <div class="row ">
                    <div class="col ms-3">
                         {{tipoHabitacionObj.tipo}}
                    </div>
                    <div class="col">
                         <b>$ {{tipoHabitacionObj.value}}</b>
                    </div>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col">
               <h5>Zona/Ubicacion</h5>
          </div>
          <div class="col">
               {{ubicacionObj.ubi}}<b> $ {{ubicacionObj.value}} </b>
          </div>
     </div>
     
     <div class="row">
          <div class="col">
               <h5>Amoblamiento</h5>
          </div>
          <div class="col">
               {{amobladoObj.amobaldo}}<b> $ {{amobladoObj.value}} </b>
          </div>
     </div>
     <div class="row">
          <div class="col">
               <h5>`Cuidado fisico</h5>
          </div>
          <div class="col">
               {{cuidadoFisicoObj.tipo}}<b> $ {{cuidadoFisicoObj.value}} </b>
          </div>
     </div>
     <div class="row">
          <div class="col">
               Cuidados cognitivos
          </div>
          <div class="col">
               <b>$ {{cuidadoCogObj.value}}</b>
          </div>
     </div>
     <div class="row">
          <div class="col">
               Servicios Medicos
          </div>
          <div class="col">
               {{ (sumaTotalServMedicos < 0) ? (-1)*sumaTotalServMedicos : sumaTotalServMedicos }}
          </div>

          <div class="row" *ngFor="let item of servicioMedAux">

               <div class="col ms-3">
                    <h5>{{ item.serd }}</h5>
               </div>
               <div class="col">
                    <b> $ {{item.value}} </b>
               </div>
               
          </div>
     </div>
     <div class="row">
          <div class="col">
               Servicios Adicionales
          </div>
          <div class="col">
               {{ (sumaTotalServAdicionales < 0) ? (-1)*sumaTotalServAdicionales : sumaTotalServAdicionales }}
               
          </div>
          <div class="row" *ngFor="let item of servicioAdiAux">
               <div class="col">
                    {{item.serd}}
               </div>
               <div class="col">
                    ${{ item.value }}
               </div>
          </div>
     </div>

     <hr>
     <div class="row">
          <div class="col">
               Valor total
          </div>
          <div class="col">
               {{ sumaTotalProforma }}
          </div>
     </div>
     
</div>