<h1 align="center">PROFORMA PARA CALCULO DE PRECIOS DE UN ASILO </h1>

<div class="container-fluid">


     <div class="row">
          <div class="col-sm-6">
               <article>
                    <h1>UBICACION</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <select (change)="selectChangeHandler($event)">
                         <option value="Monday">Monday</option>
                         <option value="Tuesday">Tuesday</option>
                         <option value="Wednesday">Wednesday</option>
                         <option value="Thursday">Thursday</option>
                         <option value="Friday">Friday</option>
                    </select>
                    <p><span>You selected: </span><b>{{selectedDay}}</b></p>
               </article>
          </div>
          <div class="col-sm-6">

               <form>
                    <h1>TIpo de Ubicacion</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">HTML</label><br>
                    <input type="radio" id="css" name="fav_language" value="CSS">
                    <label for="css">CSS</label><br>
                    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                    <label for="javascript">JavaScript</label>
               </form>
          </div>
     </div>

</div>
<div class="container-fluid">
               
          <div class="row">
               <div class="col-sm-6">
                    <article>
                         <h1>Angular Get Selected Option Value</h1>
                         <h2><span>Seleccione la opcion:</span></h2>
                         <select (change)="selectChangeHandle($event)">
                              <option value="Monday">Monday</option>
                              <option value="Tuesday">Tuesday</option>
                              <option value="Wednesday">Wednesday</option>
                              <option value="Thursday">Thursday</option>
                              <option value="Friday">Friday</option>
                         </select>
                         <p><span>You selected: </span><b>{{selectedDa}}</b></p>
                    </article>
               </div>
               <div class="col-sm-6">
     
                    <form>
                         <h1>Cuidado Fisico</h1>
                         <h2><span>Seleccione la opcion:</span></h2>
                         <input type="radio" id="html" name="fav_language" value="HTML">
                         <label for="html">HTML</label><br>
                         <input type="radio" id="css" name="fav_language" value="CSS">
                         <label for="css">CSS</label><br>
                         <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                         <label for="javascript">JavaScript</label>
                    </form>
               </div>
          </div>
          </div>

<div class="container-fluid">
     <div class="row">
          <div class="col-sm-6">

               <form>
                    <h1>Angular Get Selected Option Value</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">HTML</label><br>
                    <input type="radio" id="css" name="fav_language" value="CSS">
                    <label for="css">CSS</label><br>
                    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                    <label for="javascript">JavaScript</label>
               </form>
          </div>
          <div class="col-sm-6">
               <article>
                    <h1>Angular Get Selected Option Value</h1>
                    <h2><span>Seleccione la opcion:</span></h2>
                    <select (change)="selectChangeHandlr($event)">
                         <option value="Monday">Monday</option>
                         <option value="Tuesday">Tuesday</option>
                         <option value="Wednesday">Wednesday</option>
                         <option value="Thursday">Thursday</option>
                         <option value="Friday">Friday</option>
                    </select>
                    <p><span>You selected: </span><b>{{selectedDays}}</b></p>
               </article>
             
          </div>
     </div>    
<br>

     <h2 align="center"><span>¡Felicitaciones! Ya tienes una cotización estimada del Asilo</span></h2>
