
<mat-drawer-container class="example-container"  width="700" height="100vh" style="height: 100vh;" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!--p>Auto-resizing sidenav</!--p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        PERFIL
       </button>
       <br>
       <br>
       <br>
       <button-- (click)="showFiller = !showFiller"  mat-raised-button color="primary">
         AFILIACION 
       </button-->
        
       <div class="d-flex flex-column flex-shrink-0 p-5 text-white bg-dark" style="width: 280px; height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-1" width="40" height="32"><use xlink:href=""/></svg>
          <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="#" class="nav-link text-white">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                 
                </a>
              </li>
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
              PERFILE
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
             
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
             
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
              AFILIACION
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
             
            </a>
          </li>
         
         
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>LOgout</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
         
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    
    </mat-drawer>
    <br>
    <br>
  
    <div class="example-sidenav-content">
       <mat-toolbar color="primary">
      <button type="button" mat-button (click)="drawer.toggle()"> <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> </button>
 
    </mat-toolbar>
   
        <br>
        <br>
        <!------------------------------------------------------------------------------------>
        <mat-tab-group mat-align-tabs="center">
            <H1> Texto de prueba (H1)</H1>
            <mat-tab label="First">

                <h2>componenete show</h2>
                <div class="d-grip gap-2 mt-4">
                   
                    <hr>
                </div>
                <table class="table table-hover table-striped">
                    <thead class="bg-gradient text-white">
                        <tr>
                            <th>nombre</th>
                            <th>direcicon</th>
                            <th>email</th>
                            <th>telefono</th>
                            <th>ACCION</th>
                
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of Post">
                            <td>{{post.data.name}}</td>
                            <td>{{post.data.address}}</td>
                            <td>{{post.data.email}}</td>
                            <td>{{post.data.fono}}</td>
                
                            <td>
                                <!-- <button routerLink="/edit/{{post.id}}" class="btn btn-outline-danger"><i
                                        class="fa-solid fa-pen"></i></button> -->
                                <button (click)="aprobar(post)" class="btn btn-outline-danger">
                                    <i class="fa-solid fa-check"></i></button>
                                <button (click)="deleteRow(post)" class="btn btn-outline-danger">
                                    <i class="fa-light fa-x"></i></button>
                
                                <button (click)="deleteRow(post)" class="btn btn-outline-danger"><i
                                        class="fa-solid fa-trash"></i></button>
                
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            
            </mat-tab>
            <mat-tab label="Second">
                <h2>Asilos Aprovados </h2>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" >
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="NOMBRE">
                        <th mat-header-cell *matHeaderCellDef class="bg-gradient text-white"> NOMBRE </th>
                        <td mat-cell *matCellDef="let element"> {{element.data.name}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="direcicon">
                        <th mat-header-cell *matHeaderCellDef class="bg-gradient text-white"> direcicon </th>
                        <td mat-cell *matCellDef="let element"> {{element.data.address}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="bg-gradient text-white"> email </th>
                        <td mat-cell *matCellDef="let element"> {{element.data.email}} </td>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef class="bg-gradient text-white"> telefono </th>
                        <td mat-cell *matCellDef="let element"> {{element.data.fono}} </td>
                      </ng-container>

                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[4, 8, 12]"
                                   showFirstLastButtons 
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
        
            
            <!---------------------------------->
               


            </mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group>




        <!------------------------------------------------------------------------------------------>
 



       
    </div>
  
  </mat-drawer-container>
