
bg-gradient{
  background:linear-gradient(to right, #606c88, #3f4c6b) !important;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
  width: 100%; 
}
table {
 
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
  width: 100%; 
   
}

th{
  background:linear-gradient(to right, #606c88, #3f4c6b) ;
}
