<mat-drawer-container class="example-container" width="700" height="100vh" style="height: 100%" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <div class="d-flex flex-column flex-shrink-0 p-5 text-white bg-dark" style="height: 100vh;">
        <div class="row" style="display: block;">
          <div class="col text-center">
  
            <!-- <p-avatar
              [image]="(mostrarImagen != null || mostrarImagen !== '') ? mostrarImagen : '/assets/img/no-photo.png'"
              alt="no photo " shape="circle" size="xlarge"></p-avatar> -->
          </div>
        </div>
  
        <div class="row">
          <div class="d-flex justify-content-center">
  
            <!-- <span style="font-size:18px; display: block;">{{nombre}}</span> -->
          </div>
          <div class="d-flex justify-content-center">
            <small style="font-size: 13px; margin-top: -8px">Asilo</small>
          </div>
  
        </div>
        <hr>
        <!-- <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item mt-4" routerLink="/asilo/profile">
            <a routerLink="/asilo/profile" class="nav-link active" aria-current="page">
              <i class="pi pi-user me-3"></i>
              Perfil
            </a>
          </li>
          <li class="nav-item mt-4" *ngIf="!aprobado">
            <a routerLink="/asilo/regis-asi" class="nav-link active">
              <i class="pi pi-file me-3"></i>
              Afiliación
            </a>
          </li>
          <li class="nav-item mt-4" *ngIf="aprobado">
            <a routerLink="/asilo/info" class="nav-link active">
              <i class="pi pi-user me-3"></i>
              <span style="font-size: 15px;">
                Información general
              </span>
            </a>
          </li>
  
  
        </ul> -->
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" role="button" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <!-- <p-avatar
              [image]="(mostrarImagen != null || mostrarImagen !== '') ? mostrarImagen : '/assets/img/no-photo.png'"
              alt="no photo " shape="circle" class="ms-3"></p-avatar> -->
            <strong class="ps-2">Cerrar Sesion</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
  
            <!-- <li (click)="cerrar()"><a class="dropdown-item btn">Cerrar Sesion</a></li> -->
          </ul>
        </div>
      </div>
    </mat-drawer>
    
  
    <div class="row example-sidenav-content">
      <mat-toolbar color="primary">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        </button>
  
      </mat-toolbar>
  
    </div>

    <div class="row">
        <div class="col-md-4 h-100 border">1</div>
        <div class="col-md-8 h-100 border">2</div>
    </div>
    
  </mat-drawer-container>