.msj__asilo{
    border: 1px solid #eee;
    height: 100%;
    padding-top: 2px;
    width: 40%;
}

msj__asilo__2{
    // border: 1px solid #eee;
    height: 100%;
    padding-top: 2px;
    width: 60%;

}