
<div class="row">
    <div class="col">
        <h3>Ingrese su contrasenia para validar la informacion</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="motivo" [ngModel]="contrasenia" (ngModelChange)="cambioPass($event)">
            <label for="motivo">cambio</label>
        </div>
    </div>
</div>

<div class="d-grid gap-1 d-md-flex justify-content-md-center">
    <button type="button" class="btn btn-success" (click)="verificar()">Guardar</button>
    <button type="button" class="btn btn-warning"(click)="cerrar()" >Cancelar</button>
    <!-- <div class="col"></div>
    <div class="col-md-8">
    </div>
    <div class="col"></div> -->
</div>

