<mat-drawer-container class="example-container" style="height: 100%; width: 100%;" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" style="margin-left: 5px;" opened>

    <div class="d-flex flex-column flex-shrink-0 p-5 text-white bg-dark" style="width: 280px; height: 100vh;">
      <div class="row" style="display: block;">
        <div class="col text-center">
 
          <p-avatar [image]="imagen != '' ? imagen : '/assets/img/no-photo.png'" alt="no photo " shape="circle" size="xlarge"></p-avatar>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <span style="font-size: 18px">{{nombre}}</span>
          
        </div>
        <div class="d-flex justify-content-center">
          <small style="font-size:13px; margin-top: -7px">Administrador</small>
        </div>
      </div>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        
        <li class="nav-item mt-3">
          <a routerLink="/gerente/profile" class="nav-link active" aria-current="page">
            <i class="pi pi-user me-3"></i>
            PERFIL
          </a>
        </li>
        
        
        <li class="nav-item mt-3">
          <a routerLink="/gerente/show" class="nav-link active" aria-current="page">
            <i class="pi pi-book me-3"></i>
            AFILIADOS
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#table" />
            </svg>

          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>Cerrar sesión</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

          <li (click)="cerrar()"><a class="dropdown-item btn">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <!--button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </!--button-->
    <mat-toolbar color="primary">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
      </button>

    </mat-toolbar>

  </div>
  <!-- ======================================================================================================= -->
  <!-- 

    <app-elnombrequelepongas [data]="" [dataUser] ="" [idDoc]=""></app-elnombrequelepongas>
   -->

   <div class="row mt-5" style="display: flex; justify-content: center; margin:auto; height: auto; width: 95%;  border: 1px solid #CCC; border-radius: 5px; width:85%;  box-shadow: 0 0 10px rgb(163, 163, 163);">
    <div class="row bg-info text-white" style="border: 1px solid #CCC; border-radius: 5px; width:95%;  height: 55px; box-shadow: 0 0 10px rgb(163, 163, 163); margin-top:-25px">
      <h4 style="line-height: 51px;">Este te módulo permite actualizar los datos del perfil Administrador</h4>
    </div>
    <div class="col-md-4 container " style="border-right: 1px solid rgb(223, 222, 222); display: flex; justify-content: center;">
      
      <div class="row mb-4" style="display: flex; margin-top: 25%; justify-content: center; border: 1px solid #CCC; border-radius: 5px; width:85%;  box-shadow: 0 0 10px rgb(163, 163, 163);">
        
          <div class="col-md-8" style="display:flex; justify-content: center;  margin-top:-50px">
         
              <img [src]="dataUser.photoURL != null ? dataUser.photoURL : '/assets/img/no-photo.png'" alt="no photo" style="height: 125px; width: 150px;border-radius: 150%; border: 1px solid #ccc; box-shadow: 0 0 10px rgb(163, 163, 163); "/>
          </div>


          <div  style="height: 25px; margin-top: -4px">
            <div class="col" style="display: flex; justify-content: center;color: #999999 ">
               <span>DUEÑO DEL ASILO</span>
            </div>
          </div>
        <div class="row mb-0" style="height: 25px; margin-top: -30px">
            <div class="col" style="display: flex; justify-content: center; ">
               <b>{{dataUser.displayName}}</b>  
            </div>
        </div>
        <div class="row mb-0" style="height: 25px; margin-top: -30px">
            <div class="col" style="display: flex; justify-content: center; color: #999999">
              {{dataUser.email}}
            </div>
        </div>
           
        <div class="row">
          <div class="col text-center"  style="border-top: 1px solid #e4e3e3">
            <span style="display:block; color: #999"> actualizar foto</span>
            
            <svg type="button" xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 50 50" id="img" (click)="cambiarImg($event)">
                <path d="M11.8 34.15H36.25L28.9 24.35L22.3 32.9L17.65 26.55ZM9 42Q7.8 42 6.9 41.1Q6 40.2 6 39V9Q6 7.8 6.9 6.9Q7.8 6 9 6H39Q40.2 6 41.1 6.9Q42 7.8 42 9V39Q42 40.2 41.1 41.1Q40.2 42 39 42ZM9 39H39Q39 39 39 39Q39 39 39 39V9Q39 9 39 9Q39 9 39 9H9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39ZM9 9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39Q9 39 9 39Q9 39 9 39V9Q9 9 9 9Q9 9 9 9Z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
      <div class="col mt-5" style="margin-left: 12%">
          
          <div class="row" style=" width: 75%;">
              <div class="col">
                  <span class="form-label">Nombre:</span>
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="pi pi-user"></i>
                    </span>
                    <input class="form-control" type="text" [(ngModel)]="nombre" (ngModelChange)="cambioNombre($event)" [value]="dataUser.displayName != null ? dataUser.displayName: ''">
                  </div>
              </div>
              <div class="row profile__error" *ngIf="nombre == ''">
                <span class="profileadmin__errornombre">El campo NOMBRE es obligatorio</span>
              </div>
          </div>
          <div class="row" style="width: 75%">
              <div class="col">

                  <span class="form-label">Teléfono:</span>
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="pi pi-phone"></i>
                    </span>
                    <input type="text" class="form-control" [(ngModel)]="telefono" (ngModelChange)="cambioTelefono($event)" [value]="data.phone != null ? data.phone: ''">
                  </div>

              </div>
              <div class="row profile__error" *ngIf="telefono == ''">
                <span class="profileadmin__errornombre">El campo TELÉFONO es obligatorio</span>
              </div>
            </div>
            <div class="row" style="width: 75%">
              <div class="col">

                <span class="form-label">Dirección:</span>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="pi pi-map"></i>
                  </span>
                  <input type="text" class="form-control" [(ngModel)]="direccion" (ngModelChange)="cambioDireccion($event)" [value]="data.direccion != null ? data.direccion: ''">
                </div>

                
              </div>
              <div class="row profile__error" *ngIf="direccion == ''">
                <span class="profileadmin__errornombre">El campo DIRECCIÓN es obligatorio</span>
              </div>
            </div>
            <div class="row" style="width: 75%">
              <div class="col">
                <span class="form-label">Correo:</span>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="pi pi-envelope"></i>
                  </span>
                  <input type="text" class="form-control" [(ngModel)]="correo" (ngModelChange)="cambioCorreo($event)" [value]="dataUser.email != null ? dataUser.email: ''">
                </div>
              </div>
              <div class="row profile__error" *ngIf="correo == ''">
                <span class="profileadmin__errornombre">El campo CORREO es obligatorio</span>
              </div>
              
          </div>
          <div class="row" style="width: 75%">
            <div class="col">

              <span class="form-label">Contraseña:</span>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="pi pi-lock"></i>
                </span>
                <input [type]="verpass ? 'password': 'text'" name="pass" class="form-control"  [(ngModel)]="passw" (ngModelChange)="cambioPass($event)"  placeholder="•••••••••••••••">
                <!-- <input [type]="verpass ? 'password': 'text'" class="form-control" formControlName="password"> -->
                <span *ngIf="verpass" style="cursor:pointer" class="input-group-text" (click)="verContrasenia()">
                    <i class="pi pi-eye"></i>
                </span>
                <span *ngIf="!verpass" style="cursor:pointer" class="input-group-text" (click)="verContrasenia()">
                    <i class="pi pi-eye-slash"></i>
                </span>
              </div>

              
            </div>
          </div>
          <div class="row" >
            <div class="col mb-4 mt-3" style="width: 25%; margin-left: 28%"> 

              <button class="btn btn-success" type="button" (click)="cambiarcor()">Actualizar perfil</button>
            </div>
        </div>
      </div>
    </div>
  
</mat-drawer-container>


