<p>regisall works!</p>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="mb-3">
        <label class="form-label"> name_due</label>
        <input formControlName=" name_due" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">address_due</label>
        <input formControlName="address_due" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">email_due</label>
        <input formControlName="email_due" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">fono_due</label>
        <input formControlName="fono_due" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">nacionality</label>
        <input formControlName="nacionality" type="text" class="form-control" required>
    </div>
    <button [disabled]="!postForm.valid" type="submit" class="btn btn-primary" >Store</button>
    <button routerLink="/show" class="btn btn-outline-danger">cancel</button>



</form>
