<h2>componenete create</h2>
<div class="container" *ngIf="confirmar">


<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="mb-3">
        <label class="form-label">name</label>
        <input formControlName="name" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">address</label>
        <input formControlName="address" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">email</label>
        <input formControlName="email" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">fono</label>
        <input formControlName="fono" type="text" class="form-control" required>
    </div>
    <button [disabled]="!postForm.valid" type="submit" class="btn btn-primary" >Store</button>
   



</form>
<button  class="btn btn-outline-danger" routerLink="/home" >cancel</button>

</div>

<div *ngIf="!confirmar">
    <p>

        espere el administrador va a verificar la informacion y se le notificara por este medio revise el sitio.
        
    </p>
</div>
