.mat-form-field {
    margin-top: 16px;
}

ul{
  list-style: none;
}

.disabled{
  display: none;
}

#mapa{
  height: 75vh !important;
  width: 78vw !important;
  border: 1px solid black;
  // font-size: 45px;
}