<div class="container custom__border">
    <div class="custom text-end">
        <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" (click)="cerrar()" height="24px" viewBox="0 0 40 40" width="24px">
            <path
                d="M12.45 37.65 10.35 35.55 21.9 24 10.35 12.45 12.45 10.35 24 21.9 35.55 10.35 37.65 12.45 26.1 24 37.65 35.55 35.55 37.65 24 26.1Z" />
        </svg>
    
    
    </div>
    <div class="row text-center">
        <div class="col mt-2">
            <img [src]="posts.foto != '' ? posts.foto : 'assets/img/no-photo.png'" [alt]="posts.name" width="100px"
                style="border-radius: 100%; box-shadow: 0 0 10px 0 gray;">
        </div>
    </div>
    <fieldset>
        <legend>Datos Informativo</legend>
        <div class="row">
            <div class="col">
                <p class="card-text"><b>Nombre: </b>{{posts.name}}</p>

            </div>
            <div class="col">

                <p class="card-text"><b>Dirección: </b>{{posts.name}}</p>
            </div>
        </div>
        <div class="row">

            <div class="col">

                <p class="card-text"><b>Teléfono: </b>{{posts.fono}}</p>
            </div>
            <div class="col">

                <p class="card-text"><b>Correo: </b>{{posts.email}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Horario de Atención</legend>
        <div class="row">
            <div class="col">
                <p class="card-text"><b>Hora Desde: </b>{{ posts.horaDesde }}</p>
            </div>
            <div class="col">
                <p class="card-text"><b>Hora Hasta: </b>{{ posts.horaHasta }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="card-text"><b>Días de atención: </b><span *ngFor="let hora of posts.horas"
                        style="margin-right: 5px;">{{ hora.name | slice:0:3}}</span></p>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Servicios</legend>
        <div class="row">
            <div class="col">
                <p><b>Transporte:</b> {{ posts.transporte }} </p>
            </div>
            <div class="col">
                <p><b>Alimentacion:</b> {{ posts.alimentacion }} </p>
            </div>
            <div class="col">
                <p><b>Aseo:</b> {{ posts.aseo }} </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <b>Controles Medicos: </b>
                    <span *ngFor="let serv of posts.controlesMedicos" style="margin-right: 5px; display: block;">
                        <span *ngIf="serv.value">
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 8px" height="20px" width="20px" viewBox="0 0 50 50">
                                <path
                                    d="M21.05 33.1 35.2 18.95 32.9 16.7 21.05 28.55 15.05 22.55 12.8 24.8ZM24 44Q19.75 44 16.1 42.475Q12.45 40.95 9.75 38.25Q7.05 35.55 5.525 31.9Q4 28.25 4 24Q4 19.8 5.525 16.15Q7.05 12.5 9.75 9.8Q12.45 7.1 16.1 5.55Q19.75 4 24 4Q28.2 4 31.85 5.55Q35.5 7.1 38.2 9.8Q40.9 12.5 42.45 16.15Q44 19.8 44 24Q44 28.25 42.45 31.9Q40.9 35.55 38.2 38.25Q35.5 40.95 31.85 42.475Q28.2 44 24 44ZM24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24ZM24 41Q31.25 41 36.125 36.125Q41 31.25 41 24Q41 16.75 36.125 11.875Q31.25 7 24 7Q16.75 7 11.875 11.875Q7 16.75 7 24Q7 31.25 11.875 36.125Q16.75 41 24 41Z" />
                            </svg>

                            {{ serv.name }}
                        </span>
                    </span>
                </p>
            </div>
            <div class="col">
                <p><b>Servicios Adiconales</b>
                    <span style="margin-right: 5px; display: block;" *ngFor="let serv of posts.serviciosAdicionales">
                        <span *ngIf="serv.value">

                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 8px" height="20px" width="20px" viewBox="0 0 50 50">
                                <path
                                    d="M21.05 33.1 35.2 18.95 32.9 16.7 21.05 28.55 15.05 22.55 12.8 24.8ZM24 44Q19.75 44 16.1 42.475Q12.45 40.95 9.75 38.25Q7.05 35.55 5.525 31.9Q4 28.25 4 24Q4 19.8 5.525 16.15Q7.05 12.5 9.75 9.8Q12.45 7.1 16.1 5.55Q19.75 4 24 4Q28.2 4 31.85 5.55Q35.5 7.1 38.2 9.8Q40.9 12.5 42.45 16.15Q44 19.8 44 24Q44 28.25 42.45 31.9Q40.9 35.55 38.2 38.25Q35.5 40.95 31.85 42.475Q28.2 44 24 44ZM24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24Q24 24 24 24ZM24 41Q31.25 41 36.125 36.125Q41 31.25 41 24Q41 16.75 36.125 11.875Q31.25 7 24 7Q16.75 7 11.875 11.875Q7 16.75 7 24Q7 31.25 11.875 36.125Q16.75 41 24 41Z" />
                            </svg>
                            {{ serv.serd }}
                        </span>
                    </span>
                </p>
                    
            </div>
        </div>
    </fieldset>
</div>