.custom{
    display: flex;
    justify-content: end;
    width: 100%;
   
    // margin-top: -15px;
}

.custom__border{
    border: solid 1px #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(199, 196, 196);
}

.card-text{
    padding: 10px;
}

body{
    overflow-x: hidden;

    
}

.nav-item{
    margin-right: 3px;
}


